<h3>Sort elements in a property by name</h3>
<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field >
      <mat-label for=" item_id">Id of the item on wikidata to be sorted</mat-label>
      <mat-hint>for instance Q30091668 for Tour de France 2019</mat-hint>

      <input matInput type="text" class="form-control" id="item_id" formControlName="item_id"/>
      @if (submitted && f.item_id.errors) {
        <div >
          @if (f.item_id.errors.required) {
            <mat-error>Field required</mat-error>
          }
          @if (f.item_id.errors.pattern) {
            <mat-error>Item id should start with "Q"</mat-error>
          }
        </div>
      }
    </mat-form-field >
    <br/><br/>
    <mat-form-field >
      <mat-label for="prop">Property to sort</mat-label>
      <mat-hint>"has part" for instance for team rosters
        <br/>
      "participating team" to sort the teams for a race</mat-hint>

      <mat-select disableOptionCentering formControlName="prop">
        @for (prop of properties; track prop) {
          <mat-option [value]="prop.value">
            {{prop.viewValue}}
          </mat-option>
        }
      </mat-select>
      @if (submitted && f.prop.errors) {
        <div >
          @if (f.prop.errors.required) {
            <mat-error>Field required</mat-error>
          }
        </div>
      }
    </mat-form-field >
    <br/><br/>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>

@if (success) {
  <div>
    <h4>You submitted successfully {{lastname}}!</h4>
    <a mat-button routerLink="/request_list" color="secondary">See progress: my requests</a>
  </div>
}
