{% load static %}
<!DOCTYPE html>
<title>Cycling-Init-Bot</title>
<link rel="shortcut icon" type="image/png" href="{% static "assets/favicon.ico" %}" />
<script src="{% static "runtime.c51bd5b1c616d9ffddc1.js" %}" defer></script>
<script src="{% static "polyfills-es5.6e5c6b8b085276707109.js" %}" nomodule defer></script>
<script src="{% static "polyfills.8a6242a766db0bcb54d3.js" %}" defer></script>
<script src="{% static "main.679c0136ff07233c8dc1.js" %}" defer></script>
<link rel="stylesheet" href="{% static "styles.81653438fc75fec3ab63.css" %}" >
<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
<my-app>loading</my-app>
</html>

