{% load static %}
<!DOCTYPE html>
<title>Cycling-Init-Bot</title>
<link rel="shortcut icon" type="image/png" href="{% static "assets/favicon.ico" %}" />
<script src="{% static "runtime.cycling.js" %}" defer></script>
<script src="{% static "polyfills-es5.cycling.js" %}" nomodule defer></script>
<script src="{% static "polyfills.cycling.js" %}" defer></script>
<script src="{% static "main.cycling.js" %}" defer></script>
<link rel="stylesheet" href="{% static "styles.cycling.css" %}" >
<my-app>loading</my-app>
</html>

