{% load static %}
<!DOCTYPE html>
<title>Cycling-Init-Bot</title>
<link rel="shortcut icon" type="image/png" href="{% static "assets/favicon.ico" %}" />
<script src="{% static "runtime.c51bd5b1c616d9ffddc1.js" %}" defer></script>
<script src="{% static "polyfills-es5.6e5c6b8b085276707109.js" %}" nomodule defer></script>
<script src="{% static "polyfills.8a6242a766db0bcb54d3.js" %}" defer></script>
<script src="{% static "main.43e73c44be6e6e13cda5.js" %}" defer></script>
<link rel="stylesheet" href="{% static "styles.c2d4c2700c6e0761d239.css" %}" >
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
<my-app>loading</my-app>
</html>

