<h3>Import a list of participing teams</h3>
<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field >
      <mat-label for=" item_id">Id of the race item on wikidata</mat-label>
      <mat-hint>for instance Q30091668 for Tour de France 2019</mat-hint>
      <input matInput type="text"  id="item_id" formControlName="item_id"
        [ngClass]="{ 'is-invalid': submitted && f.item_id.errors }" />
      @if (submitted && f.item_id.errors) {
        <div >
          @if (f.item_id.errors.required) {
            <mat-error>Field required</mat-error>
          }
          @if (f.item_id.errors.pattern) {
            <mat-error>Item id should start with "Q"</mat-error>
          }
        </div>
      }
    </mat-form-field >
    <br/>
    <mat-form-field >
      <mat-label for="fc_id">Alternatively use firstcycling.com race id</mat-label>
      <input matInput type="text"  id="fc_id" formControlName="fc_id"
        [ngClass]="{ 'is-invalid': submitted && f.fc_id.errors }" />
      @if (submitted && f.fc_id.errors) {
        <div >
          @if (f.fc_id.errors.required) {
            <mat-error>Field required</mat-error>
          }
          @if (f.fc_id.errors.pattern) {
            <mat-error>Race id should be integer</mat-error>
          }
        </div>
      }
    </mat-form-field >
    <br>
      <mat-form-field >
        <mat-label for="name">Year </mat-label>
        <mat-select formControlName="year"
          disableOptionCentering id="year"
          [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
          @for (year of years; track year) {
            <mat-option [value]="year">
              {{year}}
            </mat-option>
          }
        </mat-select>
        @if (submitted && f.year.errors) {
          <div>
            @if (f.year.errors.required) {
              <mat-error>Field required</mat-error>
            }
          </div>
        }
      </mat-form-field>
      <br>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </div>
    @if (success) {
      <div>
        <h4>You submitted successfully {{lastname}}!</h4>
        <a mat-button routerLink="/request_list" color="secondary">See progress: my requests</a>
      </div>
    }
