  <h3>Import a start list</h3>
  <p>To determine the start list, an easy method is to read the ranking of a race at the first stage (prologue). To fill the ranking of the riders, the ranking at final stage should be given.</p>
  <div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <mat-form-field >
            <mat-label for=" item_id">Id of the race item on wikidata</mat-label>
            <mat-hint>for instance Q30091668 for Tour de France 2019</mat-hint>
            <input matInput type="text"  id="item_id" formControlName="item_id"
                  [ngClass]="{ 'is-invalid': submitted && f.item_id.errors }" />
            <div *ngIf="submitted && f.item_id.errors" >
                  <mat-error *ngIf="f.item_id.errors.required">Field required</mat-error>
                  <mat-error *ngIf="f.item_id.errors.pattern">Item id should start with "Q"</mat-error>
            </div>
          </mat-form-field >
          <br/>
          <mat-form-field >
            <mat-label for="gender">Man or woman race?</mat-label>
            <mat-select  disableOptionCentering  formControlName="gender"
            [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                  {{gender.viewValue}}
                </mat-option>
              </mat-select>
              <div *ngIf="submitted && f.gender.errors" >
                  <mat-error *ngIf="f.gender.errors.required">Field required</mat-error>
              </div>
          </mat-form-field >
          <br>
          <mat-form-field >
            <mat-label for="race_type">Type of race</mat-label>
            <mat-select  disableOptionCentering  formControlName="race_type"
              [ngClass]="{ 'is-invalid': submitted && f.race_type.errors }">
              <mat-option *ngFor="let race_type of race_types" [value]="race_type.value">
                {{race_type.viewValue}}
              </mat-option>
            </mat-select>
            <div *ngIf="submitted && f.race_type.errors" >
                  <mat-error *ngIf="f.race_type.errors.required">Field required</mat-error>
            </div>
          </mat-form-field >
          <br>
          <mat-form-field *ngIf="f.race_type.value==true">
              <mat-label for="moment">
              Start list corresponding to :</mat-label>
              <mat-hint>By giving prologue, the start list at the beginning of the stage race is filled<br/>
              By giving end stage, the list of the finisher with their ranking is filled
              </mat-hint>
              <mat-select  disableOptionCentering  formControlName="moment"
                    [ngClass]="{ 'is-invalid': submitted && f.moment.errors }">
                    <mat-option *ngFor="let moment of moments" [value]="moment.value">
                      {{moment.viewValue}}
                    </mat-option>
              </mat-select>
          </mat-form-field>
          <div *ngIf="f.race_type.value==true">
              <br/><br/>
          </div>
          
          <mat-form-field >
            <mat-label for="chrono">Is the race an ITT or include an ITT?</mat-label>
            <mat-hint>To decide whether to display or not the jersey of ITT national champion</mat-hint>
            <mat-select  disableOptionCentering  formControlName="chrono"
              [ngClass]="{ 'is-invalid': submitted && f.chrono.errors }">
              <mat-option *ngFor="let yesno of yesnos" [value]="yesno.value">
                {{yesno.viewValue}}
              </mat-option>
            </mat-select>
            <div *ngIf="submitted && f.chrono.errors" >
              <mat-error *ngIf="f.chrono.errors.required">Field required</mat-error>
            </div>
          </mat-form-field >
          <br>
          <mat-form-field >
            <mat-label for="force">Is it a race where ONLY national teams participate?</mat-label>
            <mat-select  disableOptionCentering  formControlName="force_nation_team"
                [ngClass]="{ 'is-invalid': submitted && f.force_nation_team.errors }">
                <mat-option *ngFor="let yesno of yesnos" [value]="yesno.value">
                  {{yesno.viewValue}}
                </mat-option>
              </mat-select>
              <div *ngIf="submitted && f.force_nation_team.errors" >
                  <mat-error *ngIf="f.force_nation_team.errors.required">Field required</mat-error>
              </div>
          </mat-form-field >
          <br/>
          <label>Excel or csv file from UCI web site</label>
          <br/>
          <input type="file" id="fileUpload" name="fileUpload" formControlName="file"  multiple="multiple" 
            accept=".xlsx, .csv" />
          <br>
          <li *ngFor="let file of files" [@fadeInOut]="file.state">
              <mat-progress-bar [value]="file.progress"></mat-progress-bar>
          </li>
          <div *ngIf="submitted && sizeerror" >Maximum size exceeded</div>
          <div *ngIf="submitted && exterror" >Wrong file type</div>
          <br>
          <mat-form-field >
            <mat-label for="fc_id">Alternatively use firstcycling.com race id</mat-label>
            <input matInput type="text"  id="fc_id" formControlName="fc_id"
                  [ngClass]="{ 'is-invalid': submitted && f.fc_id.errors }" />
                <div *ngIf="submitted && f.fc_id.errors" >
                <mat-error *ngIf="f.fc_id.errors.required">Field required</mat-error>
                <mat-error *ngIf="f.fc_id.errors.pattern">Race id should be integer</mat-error>
              </div>
            </mat-form-field >
          <br>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
  </div>
  <div *ngIf="success">
        <h4>You submitted successfully {{lastname}}!</h4>
        <a mat-button routerLink="/request_list" color="secondary">See progress: my requests</a>
  </div>
