// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "googleicon.prod.css";
@include mat.core();

.app-root {
  position: absolute;
  margin: 20 auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

a{
   text-decoration: none;
   color: inherit;
}

button{
  background-color: transparent;
  border-radius: none;
}

mat-form-field{
  width: 40vw;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  @include mat.theme((
    color: (
      primary: mat.$m2-blue-palette,
      tertiary: mat.$m2-blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  font: var(--mat-sys-body-medium);
  margin: 0;
}

$my-app-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$my-app-accent: mat.m2-define-palette(mat.$m2-blue-palette, A200, A100, A400);
$my-app-warn: mat.m2-define-palette(mat.$m2-red-palette);

$my-app-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-component-themes($my-app-theme);

