**/__pycache__
**/apicache-py3/
**/CyclingInitBotSite/etc/
**/selenium_tests/etc/
**/staticfiles/
/static/
**/dist
**/node_modules
**/uploads
**/pywikibot
**/mychart
**/redis-stable/
user-password.py
config
pywikibot.lwp


