####Cycling init site
django>=3.2.7
djangorestframework>=3.12

##djoser>=2.1 ###problem
#For djoser_local
django-templated-mail
social-auth-app-django
djangorestframework_simplejwt>=4.8

#supposition coreapi, asgiref

#whitenoise
openpyxl>=3.0.7
django-ratelimit==3.0
django-cors-headers>=3.8
celery[redis]>=5.1
uwsgi==2.0.19.1
sentry-sdk>=1.4.2
pywikibot==6.6.0
gevent>=21.1

##Needed only local
#mysqlclient>=2.0.2



