<h3>Create a series of national championships, road and clm</h3>
<div >
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field >
      <mat-label for="age" style="height: 200px;">Country of the national championship to be created</mat-label>
      <mat-select disableOptionCentering formControlName="nationality" >
        @for (nationality of nationalities; track nationality) {
          <mat-option [value]="nationality.value">
            {{nationality.viewValue}}
          </mat-option>
        }
      </mat-select>
      <mat-hint>Listed by UCI nation ranking men 2019 up to top 20</mat-hint>

      @if (submitted && f.nationality.errors) {
        <div>
          @if (f.nationality.errors.required) {
            <mat-error>Field required</mat-error>
          }
        </div>
      }
    </mat-form-field>

    <br/><br/>
    <mat-form-field >
      <mat-label for="category">Category</mat-label>
      <mat-select disableOptionCentering formControlName="category">
        @for (category of categories; track category) {
          <mat-option [value]="category.value">
            {{category.viewValue}}
          </mat-option>
        }
      </mat-select>
      @if (submitted && f.category.errors) {
        <div>
          @if (f.category.errors.required) {
            <mat-error>Field required</mat-error>
          }
        </div>
      }
    </mat-form-field>
    <br>

      <mat-form-field >
        <mat-label for="name">Start year </mat-label>
        <mat-select disableOptionCentering id="year_begin" formControlName="year_begin">
          @for (year of years; track year) {
            <mat-option [value]="year">
              {{year}}
            </mat-option>
          }
        </mat-select>
        @if (submitted && f.year_begin.errors) {
          <div>
            @if (f.year_begin.errors.required) {
              <mat-error>Field required</mat-error>
            }
          </div>
        }
      </mat-form-field>

      <br>

        <mat-form-field >
          <mat-label for="name">End year</mat-label>
          <mat-select disableOptionCentering id="year_end" formControlName="year_end">
            @for (year of years; track year) {
              <mat-option [value]="year">
                {{year}}
              </mat-option>
            }
          </mat-select>
          @if (submitted && f.year_end.errors) {
            <div>
              @if (f.year_end.errors.required) {
                <mat-error>Field required</mat-error>
              }
              @if (f.year_end.errors.notOk) {
                <mat-error>Begin year higher than end year</mat-error>
              }
            </div>
          }
        </mat-form-field>
        <br>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
      </div>

      @if (success) {
        <div>
          <h4>You submitted successfully {{lastname}}!</h4>
          <a mat-button routerLink="/request_list" color="secondary">See progress: my requests</a>
        </div>
      }

