<h3>Create a rider</h3>
<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label for="name">Name </mat-label>
      <input matInput type="text" id="name" formControlName="name"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />

      @if (submitted && f.name.errors){
        <div><mat-error>Field required</mat-error></div>
      }
    </mat-form-field >
    <br/>
    <mat-form-field >
      <mat-label for="gender">Gender</mat-label>
      <mat-select disableOptionCentering formControlName="gender"
        [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
        @for (gender of genders; track gender) {
          <mat-option [value]="gender.value">
            {{gender.viewValue}}
          </mat-option>
        }
      </mat-select>
      @if (submitted && f.gender.errors) {
        <div >
          @if (f.gender.errors.required) {
            <mat-error>Field required</mat-error>
          }
        </div>
      }
    </mat-form-field >
    <br>
      <mat-form-field >
        <mat-label for="nationality">Country of nationality</mat-label>
        <mat-select disableOptionCentering formControlName="nationality"
          [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }" >
          @for (nationality of nationalities; track nationality) {
            <mat-option [value]="nationality.value">
              {{nationality.viewValue}}
            </mat-option>
          }
        </mat-select>
        <mat-hint>Listed by UCI nation ranking men 2019 up to rank 20</mat-hint>
        @if (submitted && f.nationality.errors) {
          <div >
            @if (f.nationality.errors.required) {
              <mat-error>Field required</mat-error>
            }
          </div>
        }
      </mat-form-field >
      <br>
        <p>Note: that it does not work, if a homonymous item already exists</p>
        <br>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
      </div>

      @if (success) {
        <div>
          <h4>You submitted successfully {{lastname}}!</h4>
          <a mat-button routerLink="/request_list" color="secondary">See progress: my requests</a>
        </div>
      }

