table{
    width: 100%;
}

.first_column{
    width: 30%;
    text-align: left;
}

.three_columns{
    width: 10%;
    text-align: center;
}

.status_column{
    width: 15%;
    text-align: left;
}

.log_column{
    width: 10%;
    text-align: left;
}

.log_column_wide{
    width: 35%;
    text-align: left;
}

.result_column{
    width: 25%;
    text-align: left;

}

.action_column{ 
    width: 20%;
}