<h3>Create all national team seasons</h3>
<p>Given the amount of data changed from this routine, it has to be started manually from the administrator of the website (double check)</p>
<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field >
      <mat-label for="name">Start year </mat-label>
      <mat-select disableOptionCentering id="year_begin" formControlName="year_begin"
        [ngClass]="{ 'is-invalid': submitted && f.year_begin.errors }">
        @for (year of years; track year) {
          <mat-option [value]="year">
            {{year}}
          </mat-option>
        }
      </mat-select>

      @if (submitted && f.year_begin.errors) {
        <div >
          @if (f.year_begin.errors.required) {
            <mat-error>Field required</mat-error>
          }
        </div>
      }
    </mat-form-field>

    <br>

      <mat-form-field >
        <mat-label for="name">End year</mat-label>
        <mat-select disableOptionCentering id="year_end" formControlName="year_end"
          [ngClass]="{ 'is-invalid': submitted && f.year_end.errors }">
          @for (year of years; track year) {
            <mat-option [value]="year">
              {{year}}
            </mat-option>
          }
        </mat-select>

        @if (submitted && f.year_end.errors) {
          <div >
            @if (f.year_end.errors.required) {
              <mat-error>Field required</mat-error>
            }
            @if (f.year_end.errors.notOk) {
              <mat-error>Begin year higher than end year</mat-error>
            }
          </div>
        }
      </mat-form-field>
      <br>
        <mat-form-field >
          <mat-label for="category">Category</mat-label>
          <mat-select disableOptionCentering formControlName="category"
            [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
            @for (category of categories; track category) {
              <mat-option [value]="category.value">
                {{category.viewValue}}
              </mat-option>
            }
          </mat-select>
          @if (submitted && f.category.errors) {
            <div>
              @if (f.category.errors.required) {
                <mat-error>Field required</mat-error>
              }
            </div>
          }
        </mat-form-field>
        <br>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
      </div>

      @if (success) {
        <div>
          <h4>You submitted successfully {{lastname}}!</h4>
          <a mat-button routerLink="/request_list" color="secondary">See progress: my requests</a>
        </div>
      }

