<h2 style="align-text: center">Register</h2>
@if (!success) {
  <div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label for="first_name">First Name</mat-label>
        <input matInput type="text" formControlName="first_name" />
        @if (submitted && f.first_name.errors) {
          <div >
            @if (f.first_name.errors.required) {
              <mat-error>First Name is required</mat-error>
            }
          </div>
        }
      </mat-form-field>
      <br>
        <mat-form-field >
          <mat-label for="last_name">Last Name</mat-label>
          <input matInput type="text" formControlName="last_name"  />
          @if (submitted && f.last_name.errors) {
            <div >
              @if (f.last_name.errors.required) {
                <mat-error>Last Name is required</mat-error>
              }
            </div>
          }
        </mat-form-field>
        <br>
          <mat-form-field >
            <mat-label for="email">E-mail</mat-label>
            <input matInput type="text" formControlName="email" email="true" />
            @if (submitted && f.email.errors) {
              <div >
                @if (f.email.errors.required) {
                  <mat-error>E-mail address is required</mat-error>
                }
                @if (f.email.errors.email) {
                  <mat-error>Enter an E-mail address</mat-error>
                }
              </div>
            }
          </mat-form-field>
          <br>
            <mat-form-field >
              <mat-label for="username">Username, <small>please use same name as on Wikipedia</small></mat-label>
              <input matInput type="text" formControlName="username" />
              @if (submitted && f.username.errors) {
                <div >
                  @if (f.username.errors.required) {
                    <mat-error>Username is required</mat-error>
                  }
                </div>
              }
            </mat-form-field>
            <br>
              <mat-form-field >
                <mat-label for="password">Password</mat-label>
                <input matInput type="password" formControlName="password" />
                @if (submitted && f.password.errors) {
                  <div >
                    @if (f.password.errors.required) {
                      <mat-error>Password is required</mat-error>
                    }
                    @if (f.password.errors.minlength) {
                      <mat-error>Password must be at least 8 characters</mat-error>
                    }
                  </div>
                }
              </mat-form-field>
              <br>
                <mat-form-field >
                  <mat-label for="confirmPass">Confirm password</mat-label>
                  <input matInput type="password" formControlName="confirmPass" />
                  @if (submitted && registerForm.errors?.notSame) {
                    <mat-error >Password confirmation differs from password</mat-error>
                  }
                  @if (submitted && f.confirmPass.errors) {
                    <div >
                      @if (f.confirmPass.errors.required) {
                        <mat-error>Password confirmation is required</mat-error>
                      }
                    </div>
                  }
                </mat-form-field>
                <p>No further data are collected. This website does not use cookies. For any question related to privacy, do not hesitate to contact the webmaster.
                </p>
                <div >
                  <button mat-raised-button color="primary" id="submit">
                    @if (loading) {
                      <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Register
                  </button>
                  <a routerLink="/login" mat-raised-button color="primary" role="button">Cancel</a>
                </div>
                @if (submitted) {
                  <div>
                    @for (err of backenderror; track err) {
                      <mat-error >
                        {{err}}
                      </mat-error>
                    }
                  </div>
                }
              </form>
            </div>
          }
          @if (success) {
            <div>
              <p class="content">You submitted successfully! To complete your registration, please write a message on my <a href="https://www.wikidata.org/wiki/User_talk:Psemdel">Wikidata discussion page</a>
              so I can verify the validity of your request.
            </p>
            <a routerLink="/login" mat-raised-button color="primary" role="button">Login</a>
          </div>
        }
