<h1>My request</h1>
<div *ngIf="total_length>0">
    <h4 style="float: right;">Delete all requests
    <button mat-raised-button color="warn" type="button" style="float: right; margin-left: 20px;" (click)='delete_rq_all()'>
       <mat-icon>clear</mat-icon>
    </button></h4>
</div>

<request-details [tbotrequests]="create_rider_botrequests" 
                 [routine]="'create_rider'" 
                 [title]="'Rider creation'" 
                 [admin]="false" 
                 (refresh)="reloadData('create_rider')">
</request-details >
<request-details [tbotrequests]="import_classification_botrequests" 
                 [routine]="'import_classification'" 
                 [title]="'Import classification'" 
                 [admin]="false" 
                 (refresh)="reloadData('import_classification')">
</request-details >
<request-details [tbotrequests]="national_all_champs_botrequests" 
                 [routine]="'national_all_champs'" 
                 [title]="'Championships creation'" 
                 [admin]="false" 
                 (refresh)="reloadData('national_all_champs')">
</request-details >
<request-details [tbotrequests]="national_one_champ_botrequests" 
                 [routine]="'national_one_champ'" 
                 [title]="'One championship creation'" 
                 [admin]="false" 
                 (refresh)="reloadData('national_one_champ')">
</request-details >
<request-details [tbotrequests]="start_list_botrequests" 
                 [routine]="'start_list'" 
                 [title]="'Start list'" 
                 [admin]="false" 
                 (refresh)="reloadData('start_list')">
</request-details >
<request-details [tbotrequests]="race_botrequests"  
                 [routine]="'race'" 
                 [title]="'Race creation'"  
                 [admin]="false" 
                 (refresh)="reloadData('race')">
</request-details >
<request-details [tbotrequests]="stages_botrequests"  
                 [routine]="'stages'" 
                 [title]="'Stage creation'" 
                 [admin]="false" 
                 (refresh)="reloadData('stages')">
</request-details >
<request-details [tbotrequests]="team_botrequests"  
                 [routine]="'team'" 
                 [title]="'Team season'"  
                 [admin]="false" 
                 (refresh)="reloadData('team')">
</request-details >
<request-details [tbotrequests]="national_team_botrequests"  
                 [routine]="'national_team'" 
                 [title]="'National team season'"  
                 [admin]="false" 
                 (refresh)="reloadData('national_team')">
</request-details >
<request-details [tbotrequests]="national_team_all_botrequests"  
                 [routine]="'national_team_all'" 
                 [title]="'All national teams season'"  
                 [admin]="false" 
                 (refresh)="reloadData('national_team_all')">
</request-details >
<request-details [tbotrequests]="UCIranking_botrequests" 
                 [routine]="'UCIranking'" 
                 [title]="'UCI ranking'" 
                 [admin]="false" 
                 (refresh)="reloadData('UCIranking')">
</request-details >
<request-details [tbotrequests]="sort_date_botrequests" 
                 [routine]="'sort_date'" 
                 [title]="'Sort date'" 
                 [admin]="false" 
                 (refresh)="reloadData('sort_date')">
</request-details >
<request-details [tbotrequests]="sort_name_botrequests" 
                 [routine]="'sort_name'" 
                 [title]="'Sort name'" 
                 [admin]="false" 
                 (refresh)="reloadData('sort_name')">
</request-details >
<request-details [tbotrequests]="team_importer_botrequests" 
                 [routine]="'team_importer'" 
                 [title]="'Team importer'" 
                 [admin]="false" 
                 (refresh)="reloadData('team_importer')">
</request-details >
