<h1>My request</h1>
<div *ngIf="total_length>0">
    <h4 style="float: right;">Delete all requests
    <button mat-raised-button color="warn" type="button" style="float: right; margin-left: 20px;" (click)='delete_rq_all()'>
       <mat-icon>clear</mat-icon>
    </button></h4>
</div>

<request-details [tbotrequests]="create_rider_botrequests" [column]="'name'" [title]="'Rider creation'" [admin]="false" (refresh)="reloadData()"></request-details >
<request-details [tbotrequests]="import_classification_botrequests" [column]="'id'" [title]="'Import classification'" [admin]="false" (refresh)="reloadData()"></request-details >
<request-details [tbotrequests]="national_all_champs_botrequests" [title]="'Championships creation'" [column]="'year'" [admin]="false" (refresh)="reloadData()"></request-details >
<request-details [tbotrequests]="national_one_champ_botrequests" [title]="'One championship creation'" [column]="'year_begin'" [admin]="false" (refresh)="reloadData()"></request-details >
<request-details [tbotrequests]="start_list_botrequests" [title]="'Start list'" [column]="'id'" [admin]="false" (refresh)="reloadData()"></request-details >
<request-details [tbotrequests]="race_botrequests" [title]="'Race creation'" [column]="'name'" [admin]="false" (refresh)="reloadData()"></request-details >
<request-details [tbotrequests]="stages_botrequests" [title]="'Stage creation'" [column]="'id'" [admin]="false" (refresh)="reloadData()"></request-details >
<request-details [tbotrequests]="team_botrequests" [title]="'Team season'" [column]="'name'" [admin]="false" (refresh)="reloadData()"></request-details >
<request-details [tbotrequests]="UCIranking_botrequests" [title]="'UCI ranking'" [column]="'id'" [admin]="false" (refresh)="reloadData()"></request-details >
<request-details [tbotrequests]="sort_date_botrequests" [title]="'Sort date'" [column]="'id'" [admin]="false" (refresh)="reloadData()"></request-details >
<request-details [tbotrequests]="sort_name_botrequests" [title]="'Sort name'" [column]="'id'" [admin]="false" (refresh)="reloadData()"></request-details >
