<header>
  <mat-toolbar color="primary">
    <div>
      <app-menu></app-menu>
    </div>
    <div class="middle">
      <a mat-button routerLink="home" role="button" routerLinkActive="active"><h1>Cycling Init Bot</h1></a>
    </div>

    @if (!currentUser) {
      <div>
        <a mat-raised-button color="primary" routerLink="login" role="button" routerLinkActive="active">
        login</a>
        <a mat-raised-button color="primary" routerLink="register" role="button" routerLinkActive="active">
        register</a>
      </div>
    }

    @if (currentUser) {
      <div>
        <ul>
          @if (nb_started_routines!=0) {
            <li class="rq">
              <p><small>Requests:  </small><span class="rq"> {{nb_completed_routines}}/{{nb_started_routines}}</span></p>
            </li>
          }
          <li>
            <button mat-raised-button color="primary" (click)='reset()'>
              <mat-icon>close</mat-icon>
            </button>
          </li>
          <li>
            <app-menu-pers></app-menu-pers>
          </li>
        </ul>
      </div>
    }
  </mat-toolbar>
</header>
