<h4>Create all national and continental championships, road and clm, for one year</h4>
<p>Don't forget to create "Championnats nationaux de cyclisme sur route en 202X" first!</p>
<p>Given the amount of data changed from this routine, it has to be started manually from the administrator of the website (double check)</p>
<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field >
      <mat-label for="name">Year </mat-label>
      <mat-select formControlName="year"
        disableOptionCentering id="year"
        [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
        @for (year of years; track year) {
          <mat-option [value]="year">
            {{year}}
          </mat-option>
        }
      </mat-select>
      @if (submitted && f.year.errors) {
        <div>
          @if (f.year.errors.required) {
            <mat-error>Field required</mat-error>
          }
        </div>
      }
    </mat-form-field>
    <br/>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
@if (success) {
  <div>
    <h4>You submitted successfully year {{lastname}}!</h4>
    <a mat-button routerLink="/request_list" color="secondary">See progress: my requests</a>
  </div>
}
