<h3>Create a rider</h3>
<div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label for="name">Name </mat-label>
      <input matInput type="text" id="name" formControlName="name"
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />

    <div *ngIf="submitted && f.name.errors" >
      <mat-error *ngIf="f.name.errors.required">Field required</mat-error>
    </div>
  </mat-form-field >
  <br/>
  <mat-form-field >
      <mat-label for="gender">Gender</mat-label>
      <mat-select disableOptionCentering formControlName="gender"
      [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
          <mat-option *ngFor="let gender of genders" [value]="gender.value">
            {{gender.viewValue}}
          </mat-option>
        </mat-select>
      <div *ngIf="submitted && f.gender.errors" >
          <mat-error *ngIf="f.gender.errors.required">Field required</mat-error>
        </div>
    </mat-form-field >
    <br>
    <mat-form-field >
      <mat-label for="nationality">Country of nationality</mat-label>
      <mat-select disableOptionCentering formControlName="nationality"
      [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }" >
          <mat-option *ngFor="let nationality of nationalities" [value]="nationality.value">
            {{nationality.viewValue}}
          </mat-option>
      </mat-select>
      <mat-hint>Listed by UCI nation ranking men 2019 up to rank 20</mat-hint>
      <div *ngIf="submitted && f.nationality.errors" >
        <mat-error *ngIf="f.nationality.errors.required">Field required</mat-error>
      </div>
    </mat-form-field >
    <br>
    <p>Note: that it does not work, if a homonymous item already exists</p>
    <br>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>

<div *ngIf="success">
  <h4>You submitted successfully {{lastname}}!</h4>
  <a mat-button routerLink="/request_list" color="secondary">See progress: my requests</a>
</div>

