<body>
<p>
  Welcome on the cycling init bot website!
</p>
<p>
  <a href="https://www.wikidata.org/wiki/User:CyclingInitBot">Cycling init bot</a> is a script designed to initialize cycling related items on <img src="  https://upload.wikimedia.org/wikipedia/commons/f/ff/Wikidata-logo.svg" alt="wikidata"  style="width:25px">
  <a href="https://www.wikidata.org/wiki/Wikidata:Main_Page">Wikidata</a>. 
</p>
<p>
  This website allows you to access its functionality without having to install anything.
</p>
<p><b>It is presently a beta-version!</b></p>
<p>
  Lots of actions related to maintenance of Wikidata for cycling are quite repetitive. They can be easily delegated to a script. Here some illustrations.
</p>
  For Initialization of:
  <ul>
    <li>National championships</li>
    <li>Races</li>
    <li>Team seasons, including national teams</li>
    <li>Rider</li>
   </ul>
For data importation from the <img src="/static/assets/Arc_en_ciel.svg" alt="UCI"  style="width:25px"><a href="https://www.uci.org/home">UCI</a>:
    <ul>
      <li>Race ranking</li>
      <li>Startlist</li>
      <li>UCI ranking</li>
      <li>UCI calendar</li>
    </ul>
  Eventually some sorting algorithms are also included:
    <ul>
      <li>Sorting by date</li>
      <li>Sorting by name</li>
    </ul>

<p>
  It is written in Python and based on pywikibot.<br><img src="/static/assets/Octicons-mark-github.svg" alt="github"  style="width:25px"><a href="https://github.com/psemdel/CyclingInitBot"> Source code on github</a>.
</p>
<p>
  <a href="https://www.wikidata.org/wiki/User:Psemdel">Psemdel</a>
</p>
<p>
  Contact me on my <a href="https://www.wikidata.org/wiki/User_talk:Psemdel">discussion page</a>
</body>
