<div style="width: 600px;">
  <h2>Resend activation email</h2>
  @if (!success) {
    <div>
      <form [formGroup]="forgottenForm" (ngSubmit)="onSubmit()">
        <mat-form-field >
          <mat-label matInput for="email">E-mail</mat-label>
          <input matInput type="text" formControlName="email" email="true"  />
          @if (submitted && f.email.errors) {
            <div class="invalid-feedback">
              @if (f.email.errors.required) {
                <mat-error>E-mail address is required</mat-error>
              }
              @if (f.email.errors.email) {
                <mat-error>Enter an E-mail address</mat-error>
              }
            </div>
          }
        </mat-form-field >
        <div>
          <button [disabled]="loading" mat-raised-button color="primary">
            @if (loading) {
              <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Send
          </button>
          <a routerLink="/login" mat-raised-button color="primary" role="button">Cancel</a>
        </div>
      </form>
    </div>
  }
  @if (success) {
    <div>
      <p>E-mail sent successfully!</p>
    </div>
  }
