<!--variation 1-->
@if ((tbotrequests | async)?.length>0) {
  <div>
    <h2>{{title}} requests</h2>
    <table>
      <thead>
        <tr>
          @if (admin) {
            <th class="first_column">Author</th>
          }
          @if (year_begin_col) {
            <th class="three_columns">Begin year</th>
          }
          @if (year_begin_col) {
            <th class="three_columns">End year</th>
          }
          @if (year_begin_col) {
            <th class="three_columns">Country</th>
          }
          @if (year_col) {
            <th class="first_column">Year</th>
          }
          @if (name_col) {
            <th class="first_column">Name</th>
          }
          @if (nameyear_col) {
            <th class="first_column">Name</th>
          }
          @if (id_col) {
            <th class="first_column">Item</th>
          }
          <th class="status_column" >Status</th>
          @if (result_id_col) {
            <th class="log_column" style="padding-left: 20px;">Log</th>
          }
          @if (!result_id_col) {
            <th class="log_column_wide" style="padding-left: 20px;">Log</th>
          }
          @if (result_id_col) {
            <th class="result_column">Result id</th>
          }
          <th class="action_column" colspan="2">Actions</th>
        </tr>
      </thead>
      @for (botrequest of tbotrequests | async; track botrequest) {
        <tr>
          @if (admin) {
            <th class="first_column">{{botrequest.author_name}}</th>
          }
          @if (year_begin_col) {
            <td>{{botrequest.year_begin}}</td>
          }
          @if (year_begin_col) {
            <td>{{botrequest.year_end}}</td>
          }
          @if (year_begin_col) {
            <td>{{botrequest.nationality}}</td>
          }
          @if (year_col) {
            <td>{{botrequest.year}}</td>
          }
          @if (name_col) {
            <td>{{botrequest.name}}</td>
          }
          @if (nameyear_col) {
            <td>{{botrequest.name}} {{botrequest.year}}</td>
          }
          @if (id_col) {
            <td>{{botrequest.item_id}}</td>
          }
          <td >{{botrequest.status}}</td>
          <td><log [txt]="botrequest.log"></log></td>
          @if (result_id_col) {
            <td>{{botrequest.result_id}}</td>
          }
          @if (admin) {
            <div>
              <td>
                <button mat-raised-button color="warn" type="button" (click)='delete_rq(botrequest)'>
                  <mat-icon>clear</mat-icon>
                </button>
              </td>
              <td>
                <button mat-raised-button color="primary" [disabled]="(botrequest.status != 'pending' && botrequest.status != 'failed' && botrequest.status != 'completed_repeatable')" type="button" (click)='run(botrequest)'>
                  <mat-icon>play_arrow</mat-icon>
                </button>
              </td>
            </div>
          }
          @if (!admin) {
            <div>
              <td>
                <button mat-raised-button color="warn" type="button" (click)='delete_rq(botrequest)'>
                  <mat-icon>clear</mat-icon>
                </button>
                @if (!admin) {
                  <button mat-raised-button color="primary" [disabled]="(botrequest.status != 'failed')" type="button" (click)='run(botrequest)'>
                    <mat-icon>play_arrow</mat-icon>
                  </button>
                }
              </td>
            </div>
          }
        </tr>
      }
    </table>
  </div>
}



