<div style="width: 600px;">
  <h2>Reset password</h2>
  @if (!success) {
    <div>
      <form [formGroup]="forgottenForm" (ngSubmit)="onSubmit()">
        <mat-form-field >
          <label for="email">E-mail</label>
          <input matInput type="text" formControlName="email" email="true" class="form-control"/>
          @if (submitted && f.email.errors) {
            <div class="invalid-feedback">
              @if (f.email.errors.required) {
                <mat-error>E-mail address is required</mat-error>
              }
              @if (f.email.errors.email) {
                <mat-error>Enter an E-mail address</mat-error>
              }
            </div>
          }
        </mat-form-field >
        <br>
          <button [disabled]="loading" mat-raised-button color="primary">
            @if (loading) {
              <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Send
          </button>
          <a routerLink="/login" mat-raised-button color="primary" role="button">Cancel</a>
          @if (submitted && unknownerror) {
            <mat-error class="invalid-feedback">Unknown error, check your password</mat-error>
          }
        </form>
      </div>
    }
    @if (success) {
      <div>
        <p>E-mail sent successfully!</p>
        <a routerLink="/login" mat-raised-button color="primary" role="button">Login</a>
      </div>
    }
